<ul class="social-media">
  <li>
    <a href="https://plus.google.com/u/0/100200342554785566414">
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-gplus"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://github.com/SB299792458" >
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/shikharbrajesh">
      <svg class="icon--mini" highlight>
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  </li>
</ul>
